<div style="max-height: 100vh;">
    <mat-card style="height: 100%;width:100%;padding:0">
        <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
            <mat-card-title style="font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Aviso!</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card style="height: 10vh;">
        <div style="text-align: center;">
            <h3>No hay Domiciliarios disponibles. Revise las planillas en curso.</h3>
        </div>
    </mat-card>
</div>