
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 800 !important;
}
:host ::ng-deep .mat-header-cell {
  font-weight: 800 !important;
}



.ContenedorLoading{
  display: flex;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 100;
}

.ContenedorLoading::before{
  content: "";
  background-color: gray;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
