<div>
  <mat-card style="height: 100%;width:100%;padding:0">
    <mat-card-header style="background-color:rgb(5, 53, 107);margin:0;padding:20px">
    <!--TITULO DEL HEADER-->
        <mat-card-title style="font-family: Roboto;font-size: 1.3em; font-weight: 700; margin-bottom:15px; color:white">Notas - {{data.element.producto}} - {{data.element.ownbarcode}} </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card style="height: 100%;width:100%;padding:0">
    <div style="width:100%; text-align:center" *ngFor="let item of list">
      {{item.split("=")[1]}}
    </div>
  </mat-card>
</div>
