<mat-card style="max-height: 85vh">  
  <mat-card-title>Titulo</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>