<h1>Facturas Asociadas a la Planilla</h1>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center"><b>Numero de Documento</b></th>
        <th class="text-center"><b>Fecha de Compra</b></th>
        <th class="text-center"><b>Precio Total</b></th>
        <th class="text-center"><b></b></th>
    </thead>
    <tbody>
    <tr *ngFor="let elem of detailList">
        <td class="text-center"> {{elem.num_DOCUMENTO}} </td>
        <td class="text-center"> {{elem.purchase_DATE}} </td>
        <td class="text-center"> {{elem.totalprice}} </td>
        <td class="text-center"> <button mat-stroked-button color="primary" type="button" (click)="generatePdfRoute(elem)">Ver Factura</button> </td> 
    </tr>
    </tbody>
    </table>
  </div>
